<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="mb-4">Account Login</h1>
  <form class="needs-validation w-25" novalidate method="POST" action="/">
    <div class="form-group row">
      <div class="col">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" required>
      </div>
    </div>
    {{#if isValidated}}
    <div class="invalid-feedback d-block">
      Username/Password 錯誤
    </div>
    {{/if}}
    <div class="form-group row mt-5">
      <div class="col text-center">
        <button class="btn btn-primary" type="submit">Sign in</button>
      </div>
    </div>
  </form>
</div>